<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="blog">
    <div class="container">
      <header>
        <h3> Hello, {{ currentUser.fullName }}! </h3>

        <button (click)="logMeOut()"> Log Out </button>
        <p *ngIf="logoutError" class="error">
          {{ logoutError }}
        </p>
      </header>
            <div class="row">
                 <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h2><span class="ion-minus"></span><h2> Travel Post </h2><span class="ion-minus"></span></h2>
                    <p *ngIf="travelPostError" class="error">
                      {{ travelPostError }}
                    </p>

                    <button *ngIf="!isShowingForm" (click)="showTravelPostForm()">
                      Add Travel Post
                    </button>
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 ">
                      <div *ngIf="isShowingForm">
                        <h3> Add a New Travel Post </h3>

                        <p *ngIf="saveError" class="error">
                        {{ saveError }}
                        </p>

                          <form (ngSubmit)="saveNewTravelPost()">
                          <label for="travel-post-title-input"> Travel Post Title </label>
                          <input  id="travel-post-title-input" type="text" placeholder="Travel Zone"
                            [(ngModel)]="travelPostInfo.travelTitle" name="travelTitle">
                          <br>

                          <label for="travel-post-description-input"> Travel Description </label>
                          <input  id="travel-post-description-input" type="text"
                            [(ngModel)]="travelPostInfo.travelDescription" name="travelDescription">
                          <br>

                          <label for="travel-post-picture-input"> Travel Picture (optional)</label>
                          <input  id="travel-post-picture-input" type="file" name="travelPicture"
                            ng2FileSelect [uploader]="myNewUploader">
                          <br>

                        <button> Save Travel Post </button>
                      </form>
                    </div>
                    </div>
                  </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis  dis parturient montes, nascetur ridiculus </p><br>
                 </div>
            </div>

           <div class="row">
               <li *ngFor="let oneTravelPost of travelPostArray">

			    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-aos="fade-right">

                    <div class="col-lg-6 col-xs-12">
                        <img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
					</div>

					<div class="col-lg-6 col-xs-12">
						 <div class="blog-column">
							<span>Post Title</span>
							 <ul class="blog-detail list-inline">
								<li><i class="fa fa-user"></i>John Doe</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
							<a href="#">Read More</a>
						</div>
					</div>

                </div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-aos="fade-right">

                    <div class="col-lg-6 col-xs-12">
                       <img src="https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
					</div>

					<div class="col-lg-6 col-xs-12">
						 <div class="blog-colum">
							<span>Post Title</span>
							 <ul class="blog-detail list-inline">
								<li><i class="fa fa-user"></i>Josh Doe</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
							<a href="#">Read More</a>
						</div>
					</div>

                </div>

           </div>

		   <div style="margin:40px 0px;"></div>

		   <div class="row">

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-aos="fade-right">

                    <div class="col-lg-6 col-xs-12">
                        <img src="https://images.pexels.com/photos/129441/pexels-photo-129441.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
					</div>

					<div class="col-lg-6 col-xs-12">
						 <div class="blog-colum">
							<span>Post Title</span>
							 <ul class="blog-detail list-inline">
								<li><i class="fa fa-user"></i>James Doe</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
							<a href="#">Read More</a>
						</div>
					</div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-aos="fade-right">

                            <div class="col-lg-6 col-xs-12">
                               <img src="https://images.pexels.com/photos/395196/pexels-photo-395196.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
        					</div>

        					<div *ngFor="let oneTravelPost of travelPostArray" class="col-lg-6 col-xs-12">
        						 <div class="blog-colum">
                       <span>{{ oneTravelPost.title }}</span>
                       <p>
                         <b class="blog-detail list-inline" *ngIf="oneTravelPost.user?._id === currentUser._id"><i class="fa fa-user"></i>
                           {{ oneTravelPost.user?.fullName }}
                         </b>
                       </p>
        							<p>{{ oneTravelPost.description }}</p>
        							<a href="#">Read More</a>
        						</div>
        					</div>
              </div>
			    </div>
    </div>
</div>
